<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277355287871-ghbes0p4io8s40rm385a62svgsndf0du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277355287871-ghbes0p4io8s40rm385a62svgsndf0du</string>
	<key>API_KEY</key>
	<string>AIzaSyC7dGCzYsYmKMxXgFipPCV2D22UodNDHOw</string>
	<key>GCM_SENDER_ID</key>
	<string>277355287871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp1st</string>
	<key>PROJECT_ID</key>
	<string>chatapp1stproject</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp1stproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277355287871:ios:f7fce597333985d1ccef8a</string>
</dict>
</plist>